<mat-card>
    <mat-card-title>John Den Hartog's Soda Picker Component</mat-card-title>
    <mat-card-content>
        <button
        mat-raised-button
        (click)="pickCola()">
        Cola
        </button>
        &nbsp;
        <button
        mat-raised-button
        (click)="pickCitrus()">
        Citrus
        </button>
        &nbsp;
        <button
        mat-raised-button
        (click)="pickOther()">
        Other
        </button>
        <br>

        <h3>
            Your Soda: {{chosenSoda}}
        </h3>
    </mat-card-content>
</mat-card>